<!DOCTYPE html>

<html ng-app="Adminrouter">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/Css/i/favicon.png" />
    <link href="~/Css/Amaze/amazeui.css" rel="stylesheet" />
    <link href="~/Css/Amaze/admin.css" rel="stylesheet" />
  
</head>
<body>
    <div>
       <div ui-view></div>
    </div>
</body>
</html>
<script src="~/Script/angular.js"></script>
<script src="~/Script/angular-ui-router.js"></script>
<script src="~/Script/app/AdminRouter.js"></script>
<script src="~/Script/app/AdminController.js"></script>
